.selector-for-some-widget {
    box-sizing: content-box;
    }
    /* // Small devices (landscape phones, 576px and up) */
    @media (max-width: 600px) {
        #navbars{
            background-color: rgb(255, 255, 255) !important;
            color: #fff !important;
            position: fixed;
            width: 100%;
            padding-top: 20px;
            /* padding-left: 60px; */
            padding-right: 60px;
        }
        
        .navbar-brand{
            color: #222227 !important;
            font-family: 'Poppins', sans-serif;
            margin-top: .5rem;
            font-weight: 900;
        }
        
        .nav-link{
            color: #222227 !important;
            margin-top: .5rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #navbarSupportedContent{
            color: #000;
        }
        
        #btn1{
            background-color: #F5534D;
            /* margin-left: 1.5rem; */
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
        }
        #screen1{
            background-color: #fff;
            height: 100vh;
            padding-top: 8.0rem;
        }
        
        
        #intro{
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
        }
        
        #introduction{
            font-size: 37px;
            margin-top: .8rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #btn2{
            background-color: #ffffff;
            border: 2px solid #F5534D;
            color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            margin-right: 22px;
            margin-top: 34px;
        }
        #btn3{
            background-color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
            margin-right: 22px;
            margin-top: 34px;
        }
        .label-container{
            position:fixed;
            bottom:48px;
            right:105px;
            display:table;
            visibility: hidden;
        }
        
        .label-text{
            color:#FFF;
            background:rgba(51,51,51,0.5);
            display:table-cell;
            vertical-align:middle;
            padding:10px;
            border-radius:3px;
        }
        
        .label-arrow{
            display:table-cell;
            vertical-align:middle;
            color:#333;
            opacity:0.5;
        }
        
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        .float:hover{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        #ul{
            position:fixed;
            right:40px;
            padding-bottom:20px;
            bottom:80px;
            z-index:100;
        }
        
        #ul #li{
            list-style:none;
            margin-bottom:10px;
        }
        
        #ul #li a{
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            width:60px;
            height:60px;
            display:block;
        }
        
        #ul:hover{
            visibility:visible!important;
            opacity:1!important;
        }
        
        
        .my-float{
            font-size:24px;
            margin-top:18px;
        }
        
        a#menu-share + #ul{
            visibility: hidden;
        }
        
        a#menu-share:hover + #ul{
            visibility: visible;
            animation: scale-in 0.5s;
        }
        
        a#menu-share i{
            animation: rotate-in 0.5s;
        }
        
        a#menu-share:hover > i{
            animation: rotate-out 0.5s;
        }
        @keyframes bots-to-tops {
            0%   {opacity: 0;}
            50%  {opacity: 1;}
        }
        
        @keyframes bot-to-top {
            0%   {bottom:-40px}
            50%  {bottom:40px}
        }
        
        @keyframes scale-in {
            from {transform: scale(0);opacity: 0;}
            to {transform: scale(1);opacity: 1;}
        }
        
        @keyframes rotate-in {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        
        @keyframes rotate-out {
            from {transform: rotate(360deg);}
            to {transform: rotate(0deg);}
        }
     }
    
    /* // Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {  
        #navbars{
            background-color: rgb(245, 240, 240) !important;
            color: #fff !important;
            position: fixed;
            width: 100%;
            padding-top: 20px;
            /* padding-left: 60px; */
            padding-right: 60px;
        }
        
        .navbar-brand{
            color: #222227 !important;
            font-family: 'Poppins', sans-serif;
            margin-top: .5rem;
            font-weight: 900;
        }
        
        .nav-link{
            color: #222227 !important;
            margin-top: .5rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #navbarSupportedContent{
            color: #000;
        }
        
        #btn1{
            background-color: #F5534D;
            /* margin-left: 1.5rem; */
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
        }
        #screen1{
            background-color: #fff;
            height: 100vh;
            padding-top: 11.0rem;
        }
        
        
        #intro{
            font-size: 25px;
            font-family: 'Poppins', sans-serif;
        }
        
        #introduction{
            font-size: 73px;
            margin-top: .8rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #btn2{
            background-color: #ffffff;
            border: 2px solid #F5534D;
            color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            margin-right: 22px;
            margin-top: 34px;
        }
        #btn3{
            background-color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
            margin-right: 22px;
            margin-top: 34px;
        }
        .label-container{
            position:fixed;
            bottom:48px;
            right:105px;
            display:table;
            visibility: hidden;
        }
        
        .label-text{
            color:#FFF;
            background:rgba(51,51,51,0.5);
            display:table-cell;
            vertical-align:middle;
            padding:10px;
            border-radius:3px;
        }
        
        .label-arrow{
            display:table-cell;
            vertical-align:middle;
            color:#333;
            opacity:0.5;
        }
        
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        .float:hover{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        #ul{
            position:fixed;
            right:40px;
            padding-bottom:20px;
            bottom:80px;
            z-index:100;
        }
        
        #ul #li{
            list-style:none;
            margin-bottom:10px;
        }
        
        #ul #li a{
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            width:60px;
            height:60px;
            display:block;
        }
        
        #ul:hover{
            visibility:visible!important;
            opacity:1!important;
        }
        
        
        .my-float{
            font-size:24px;
            margin-top:18px;
        }
        
        a#menu-share + #ul{
            visibility: hidden;
        }
        
        a#menu-share:hover + #ul{
            visibility: visible;
            animation: scale-in 0.5s;
        }
        
        a#menu-share i{
            animation: rotate-in 0.5s;
        }
        
        a#menu-share:hover > i{
            animation: rotate-out 0.5s;
        }
        @keyframes bots-to-tops {
            0%   {opacity: 0;}
            50%  {opacity: 1;}
        }
        
        @keyframes bot-to-top {
            0%   {bottom:-40px}
            50%  {bottom:40px}
        }
        
        @keyframes scale-in {
            from {transform: scale(0);opacity: 0;}
            to {transform: scale(1);opacity: 1;}
        }
        
        @keyframes rotate-in {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        
        @keyframes rotate-out {
            from {transform: rotate(360deg);}
            to {transform: rotate(0deg);}
        }
    }
    
    /* // Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {  
        #navbars{
            background-color: #fff !important;
            color: #fff !important;
            position: fixed;
            width: 100%;
            padding-top: 20px;
            padding-left: 60px;
            padding-right: 60px;
        }
        
        .navbar-brand{
            color: #222227 !important;
            font-family: 'Poppins', sans-serif;
            margin-top: .5rem;
            font-weight: 900;
        }
        
        .nav-link{
            color: #222227 !important;
            margin-top: .5rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #navbarSupportedContent{
            padding-left: 34.0rem;
        }
        
        #btn1{
            background-color: #F5534D;
            margin-left: 1.5rem;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
        }
        #screen1{
            background-color: #fff;
            height: 100vh;
            padding-top: 15.0rem;
        }
        
        
        #intro{
            font-size: 44px;
            font-family: 'Poppins', sans-serif;
        }
        
        #introduction{
            font-size: 90px;
            margin-top: .8rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #btn2{
            background-color: #ffffff;
            border: 2px solid #F5534D;
            color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            margin-right: 22px;
            margin-top: 34px;
        }
        #btn3{
            background-color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
            margin-right: 22px;
            margin-top: 34px;
        }
        .label-container{
            position:fixed;
            bottom:48px;
            right:105px;
            display:table;
            visibility: hidden;
        }
        
        .label-text{
            color:#FFF;
            background:rgba(51,51,51,0.5);
            display:table-cell;
            vertical-align:middle;
            padding:10px;
            border-radius:3px;
        }
        
        .label-arrow{
            display:table-cell;
            vertical-align:middle;
            color:#333;
            opacity:0.5;
        }
        
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        .float:hover{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        #ul{
            position:fixed;
            right:40px;
            padding-bottom:20px;
            bottom:80px;
            z-index:100;
        }
        
        #ul #li{
            list-style:none;
            margin-bottom:10px;
        }
        
        #ul #li a{
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            width:60px;
            height:60px;
            display:block;
        }
        
        #ul:hover{
            visibility:visible!important;
            opacity:1!important;
        }
        
        
        .my-float{
            font-size:24px;
            margin-top:18px;
        }
        
        a#menu-share + #ul{
            visibility: hidden;
        }
        
        a#menu-share:hover + #ul{
            visibility: visible;
            animation: scale-in 0.5s;
        }
        
        a#menu-share i{
            animation: rotate-in 0.5s;
        }
        
        a#menu-share:hover > i{
            animation: rotate-out 0.5s;
        }
        @keyframes bots-to-tops {
            0%   {opacity: 0;}
            50%  {opacity: 1;}
        }
        
        @keyframes bot-to-top {
            0%   {bottom:-40px}
            50%  {bottom:40px}
        }
        
        @keyframes scale-in {
            from {transform: scale(0);opacity: 0;}
            to {transform: scale(1);opacity: 1;}
        }
        
        @keyframes rotate-in {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        
        @keyframes rotate-out {
            from {transform: rotate(360deg);}
            to {transform: rotate(0deg);}
        }
            }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  
    #navbars{
        background-color: #fff !important;
        color: #fff !important;
        position: fixed;
        width: 100%;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .navbar-brand{
        color: #222227 !important;
        font-family: 'Poppins', sans-serif;
        margin-top: .5rem;
        font-weight: 900;
    }
    
    .nav-link{
        color: #222227 !important;
        margin-top: .5rem;
        font-family: 'Poppins', sans-serif;
    }
    
    #navbarSupportedContent{
        padding-left: 59.0rem;
    }
    
    #btn1{
        background-color: #F5534D;
        margin-left: 1.5rem;
        font-size: 15px;
        width: 7.0rem;
        height: 3.0rem;
        border-radius: 8px;
        padding: 8px;
        font-family: 'Poppins', sans-serif;
        border: none;
    }
    #screen1{
        background-color: #fff;
        height: 100vh;
        padding-top: 12.0rem;
    }
    
    
    #intro{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
    }
    
    #introduction{
        font-size: 70px;
        margin-top: .8rem;
        font-family: 'Poppins', sans-serif;
    }
    
    #btn2{
        background-color: #ffffff;
        border: 2px solid #F5534D;
        color: #F5534D;
        font-size: 15px;
        width: 7.0rem;
        height: 3.0rem;
        border-radius: 8px;
        padding: 8px;
        font-family: 'Poppins', sans-serif;
        margin-right: 22px;
        margin-top: 34px;
    }
    #btn3{
        background-color: #F5534D;
        font-size: 15px;
        width: 7.0rem;
        height: 3.0rem;
        border-radius: 8px;
        padding: 8px;
        font-family: 'Poppins', sans-serif;
        border: none;
        margin-right: 22px;
        margin-top: 34px;
    }
    .label-container{
        position:fixed;
        bottom:48px;
        right:105px;
        display:table;
        visibility: hidden;
    }
    
    .label-text{
        color:#FFF;
        background:rgba(51,51,51,0.5);
        display:table-cell;
        vertical-align:middle;
        padding:10px;
        border-radius:3px;
    }
    
    .label-arrow{
        display:table-cell;
        vertical-align:middle;
        color:#333;
        opacity:0.5;
    }
    
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#F5534D;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index:1000;
        animation: bot-to-top 2s ease-out;
    }
    .float:hover{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#F5534D;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index:1000;
        animation: bot-to-top 2s ease-out;
    }
    #ul{
        position:fixed;
        right:40px;
        padding-bottom:20px;
        bottom:80px;
        z-index:100;
    }
    
    #ul #li{
        list-style:none;
        margin-bottom:10px;
    }
    
    #ul #li a{
        background-color:#F5534D;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        width:60px;
        height:60px;
        display:block;
    }
    
    #ul:hover{
        visibility:visible!important;
        opacity:1!important;
    }
    
    
    .my-float{
        font-size:24px;
        margin-top:18px;
    }
    
    a#menu-share + #ul{
        visibility: hidden;
    }
    
    a#menu-share:hover + #ul{
        visibility: visible;
        animation: scale-in 0.5s;
    }
    
    a#menu-share i{
        animation: rotate-in 0.5s;
    }
    
    a#menu-share:hover > i{
        animation: rotate-out 0.5s;
    }
    @keyframes bots-to-tops {
        0%   {opacity: 0;}
        50%  {opacity: 1;}
    }
    
    @keyframes bot-to-top {
        0%   {bottom:-40px}
        50%  {bottom:40px}
    }
    
    @keyframes scale-in {
        from {transform: scale(0);opacity: 0;}
        to {transform: scale(1);opacity: 1;}
    }
    
    @keyframes rotate-in {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    
    @keyframes rotate-out {
        from {transform: rotate(360deg);}
        to {transform: rotate(0deg);}
    }
}
    
    @media (min-width: 1400px) { 
        #navbars{
            background-color: #fff !important;
            color: #fff !important;
            position: fixed;
            width: 100%;
            padding-top: 20px;
            padding-left: 60px;
            padding-right: 60px;
        }
        
        .navbar-brand{
            color: #222227 !important;
            font-family: 'Poppins', sans-serif;
            margin-top: .5rem;
            font-weight: 900;
        }
        
        .nav-link{
            color: #222227 !important;
            margin-top: .5rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #navbarSupportedContent{
            padding-left: 59.0rem;
        }
        
        #btn1{
            background-color: #F5534D;
            margin-left: 1.5rem;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
        }
        #screen1{
            background-color: #fff;
            height: 100vh;
            padding-top: 12.0rem;
        }
        
        
        #intro{
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
        }
        
        #introduction{
            font-size: 70px;
            margin-top: .8rem;
            font-family: 'Poppins', sans-serif;
        }
        
        #btn2{
            background-color: #ffffff;
            border: 2px solid #F5534D;
            color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            margin-right: 22px;
            margin-top: 34px;
        }
        #btn3{
            background-color: #F5534D;
            font-size: 15px;
            width: 7.0rem;
            height: 3.0rem;
            border-radius: 8px;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
            border: none;
            margin-right: 22px;
            margin-top: 34px;
        }
        .label-container{
            position:fixed;
            bottom:48px;
            right:105px;
            display:table;
            visibility: hidden;
        }
        
        .label-text{
            color:#FFF;
            background:rgba(51,51,51,0.5);
            display:table-cell;
            vertical-align:middle;
            padding:10px;
            border-radius:3px;
        }
        
        .label-arrow{
            display:table-cell;
            vertical-align:middle;
            color:#333;
            opacity:0.5;
        }
        
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        .float:hover{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index:1000;
            animation: bot-to-top 2s ease-out;
        }
        #ul{
            position:fixed;
            right:40px;
            padding-bottom:20px;
            bottom:80px;
            z-index:100;
        }
        
        #ul #li{
            list-style:none;
            margin-bottom:10px;
        }
        
        #ul #li a{
            background-color:#F5534D;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            width:60px;
            height:60px;
            display:block;
        }
        
        #ul:hover{
            visibility:visible!important;
            opacity:1!important;
        }
        
        
        .my-float{
            font-size:24px;
            margin-top:18px;
        }
        
        a#menu-share + #ul{
            visibility: hidden;
        }
        
        a#menu-share:hover + #ul{
            visibility: visible;
            animation: scale-in 0.5s;
        }
        
        a#menu-share i{
            animation: rotate-in 0.5s;
        }
        
        a#menu-share:hover > i{
            animation: rotate-out 0.5s;
        }
        @keyframes bots-to-tops {
            0%   {opacity: 0;}
            50%  {opacity: 1;}
        }
        
        @keyframes bot-to-top {
            0%   {bottom:-40px}
            50%  {bottom:40px}
        }
        
        @keyframes scale-in {
            from {transform: scale(0);opacity: 0;}
            to {transform: scale(1);opacity: 1;}
        }
        
        @keyframes rotate-in {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        
        @keyframes rotate-out {
            from {transform: rotate(360deg);}
            to {transform: rotate(0deg);}
        }
    }